.auth {
    margin: 6rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #c4c4c44d;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: #e4651d;
  }
  
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .title {
    @apply flex justify-center mb-10;
    @apply divide-x-4 divide-primary;
  }
  
  .toggleTitle p {
    @apply text-center ml-5 mr-5 pb-3;
    @apply text-5xl;
    border-color: #e4651d;
    color: #e4651d;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    @apply text-left;
    display: block;
    color: #464544;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    @apply font-mono bg-white border-2 border-gray-300 rounded-sm;
    color: #864e38;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .control input:focus {
    @apply outline-none border-2;
    border-color: #e4651d;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    @apply font-mono text-2xl text-white cursor-pointer rounded-2xl;
    background-color: #e4a01d;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    color: #864e38;
    background-color: #e4a01d;
  }
  
  .actions .toggle {
    font-size: 1.5rem;
    margin-top: 1rem;
    background: transparent;
    color: #e4651d;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #e4651d;
  }
  