.body {
  @apply justify-center;
}

.banner {
  @apply flex min-w-full justify-center;
  @apply rounded-b-full bg-white;
}

.content {
  @apply flex flex-wrap w-9/12 justify-center;
}

.subject {
  @apply md:mt-28 md:text-justify leading-10;
  /* Pet 伴， 陪伴你的寵物一生 */
  /* 毛小孩的就診紀錄整合平台 */
  @apply font-mono;
  color: #464544;
}

.logo {
  /* 放照片輪播的地方 */
  @apply box-border md:w-3/6;
}

.cosH2 {
  @apply right-1.5 mt-10;
  @apply md:text-3xl text-base;
  color: #464544;
}

.mainContent {
  @apply flex flex-col items-center;
  @apply font-mono leading-10;
  color: #464544;
}

.span {
  @apply w-36 p-1 m-5;
  @apply text-3xl text-white;
  background: #e2b59c;
}

.control {
  @apply p-1 m-5;
  @apply rounded-2xl text-white text-2xl;
  background: #e4a01d;
}

h1 {
  @apply mt-16;
  @apply md:text-6xl text-3xl;
  color: #464544;
}

h2 {
  @apply md:text-3xl text-2xl;
}

p {
  @apply text-2xl;
}
