.footerBody {
  @apply flex flex-col p-2.5;
  /*background: #f1d8bc;*/
  background: #e4651d;
  color: #f4eee4;
}

.footerMain {
  @apply flex justify-center mb-1.5;
}

.footerMain button {
  @apply mr-5 ml-5;
  font-size: 1rem;
}

.footerMain button:hover {
  color: #ffffff;
  font-size: 1.2rem;
}

.content {
}
.content p {
  font-size: 0.5rem;
}
.content p:hover {
  color: #ffffff;
  font-size: 1rem;
}
