.footerBody {
  @apply flex flex-col p-1.5;
  background: #f1d8bc;
  color: #464544;
}

.footerMain {
  @apply flex justify-center mb-1.5;
}

.footerMain button {
  @apply mr-5 ml-5;
}

.footerMain button:hover {
  color: #744538;
}

.content {
  font-size: 1rem;
}
