.member {
  margin: 3rem auto;
  width: 95%;
  max-width: 50rem;
  border-radius: 6px;
  background-color: #c4c4c44d;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: #e4651d;
}

.member h2 {
  @apply mt-16;
  @apply md:text-6xl text-3xl;
  color: #464544;
}

.member p {
  @apply m-5;
  @apply md:text-3xl text-base;
  color: #464544;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  @apply font-mono text-2xl text-white cursor-pointer rounded-2xl;
  background-color: #e4a01d;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  color: #864e38;
  background-color: #e4a01d;
}

.actions .toggle {
  font-size: 1.5rem;
  margin-top: 1rem;
  background: transparent;
  color: #e4651d;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #e4651d;
}
